body {
  margin: 0;
  min-height: 100vh;
  color: rgb(29, 29, 29);
  background-color: rgb(251, 250, 249);
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'IBM Plex Sans', monospace;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: "30px";
  margin-bottom: 4px;
}

p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 40vh;
  max-width: 40vw;
  margin-top: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card {
  width: 100%;
  padding: 24px 32px;
  border: 1px solid rgb(173, 188, 197);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

pre.code-block {
  max-height: 200px;
  width: 100%;
  overflow: scroll;
  background-color: #10232e;
  border: none;
  border-radius: 4px;
  padding: 16px 8px;
  margin-bottom: 16px;
}

pre.code-block > code {
  color: white;
  font-family: monospace;
}

span.code {
  font-family: monospace;
  font-weight: 400;
  line-height: 28px;
  padding-left: 4px;
  border-radius: 4px;
  padding-right: 4px;
  background-color: #ecfaff;
}

header {
  width: 100%;
  height: 70px;
  background-color: #eeecff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  gap: 16px;
}

header > a > img {
  max-width: 250px;
  overflow: hidden;
}

a.header {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
}

a.header:hover {
  background-color: #d4ceff;
}

header > .link-container {
  display: flex;
  gap: 16px;
}


button {
  border: none;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button.primary {
  background-color: #1D1D1D;
  color: #FFF;
}

button.primary:hover {
  background-color: rgb(163, 163, 163);
}


.todoEditor {
  input[type='text'] {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ddd;
    flex-grow: 1;
  }

  ul {
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 40vw;
    margin-bottom: 8px;
  }

  li button {
    margin-left: 10px;
  }
}

